$blue-el: #2f80ec;
$height-el: 25px;
$border-rad: 5px;

:host {
  justify-content: center;
  align-items: center;
}

input.ng-touched.ng-invalid {border:solid red 1px;}
input.ng-touched.ng-valid {border:solid green 1px;}

.login {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__alert {
    padding: 3px;
    color: indianred;
  }

  &__form {
    margin-top: 50px;
    width: 40%;

    display: flex;
    flex-direction: column;
  }

  &__input {
    margin: 5px 0 40px 0;
    padding: 3px;
    border-radius: $border-rad;
    border: solid 1px grey;
  }

  &__button {
    height: $height-el;
    width: 50%;

    margin: 0 auto;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $blue-el;
    color: #ffffff;
    border: none;
    border-radius: $border-rad;
    box-shadow: 1px 0 5px -1px $blue-el;
    cursor: pointer;
  }
}
