<section class="filtering">
  <h2 class="filtering__item filtering__header">Sorting by:</h2>
  <a
    class="filtering__item filter"
    id="date-filter"
    (click)="onHandleFilteringCriterion($event)"
  >
    date
  </a>
  <a
    class="filtering__item filter"
    id="view-filter"
    (click)="onHandleFilteringCriterion($event)"
  >
    count of views
  </a>
  <label class="filtering__item filter" for="filtering-input">by word or sentence</label>
  <input
    id="filtering-input"
    class="filtering__input"
    type="text"
    (input)="onHandleFilteringWord($event)"
  >
</section>
