<article
  class="card"
  [style.borderBottomStyle]="'solid'"
  [style.borderBottomWidth]="'5px'"
  [style.borderBottomColor]="borderColor"
>
  <img [src]="img" alt="" class="card__img">
  <div class="info-socials card__item">
    <div class="info-socials__view">
      <i class="fas fa-eye"></i>
      {{ viewCount }}
    </div>
    <div class="info-socials__like">
      <i class="fas fa-heart"></i>
      {{ likeCount }}
    </div>
    <div class="info-socials__dislike">
      <i class="fas fa-heart-broken"></i>
      {{ dislikeCount }}
    </div>
    <div class="info-socials__copy">
      <i class="fas fa-copy"></i>
      {{ commentCount }}
    </div>
  </div>
  <h2 class="card__header card__item">
    {{ channelTitle }}
  </h2>
  <a [href]="srcVideo" target="_blank" class="card__button">more...</a>
</article>
